* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0C0C0C;
    color: #DEBD69;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: none;
}

main {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #1C1C1C;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

details {
    background-color: #0C0C0C;
    border: 1px solid #242424;
    border-radius: 5px;
    padding: 10px;
}

summary {
    background: #1C1C1C;
    color: #DEBD69;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

summary:hover {
    background: #343434;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #DE6969;
    text-decoration: none;
}

a:hover {
    color: #ff3b62;
}

footer {
    background-color: transparent;
    color: #DEBD69;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: none;
}

button {
    padding: 10px 20px;
    background-color: #DE6969;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #ff3b62;
}

input[type="text"],
input[type="number"],
input[type="time"],
select {
    width: 100%;
    padding: 10px;
    background-color: #1C1C1C;
    color: #DEBD69;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="time"]:focus,
select:focus {
    outline: none;
    background-color: #343434;
}

.toggle-button {
    width: 60px;
    height: 30px;
    background-color: #1C1C1C;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
    display: inline-block;
}

.toggle-button.active {
    background-color: #DE6969;
}

.toggle-thumb {
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s;
}

.toggle-button.active .toggle-thumb {
    left: 32px;
}
